<header>
<nav class="navbar navbar-inverse ">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/idealist" class="navbar-brand" >Walmart ShareI</a>
      </div>
      <!-- <ul class="nav navbar-nav">
        <li *ngIf="loginService.isUserLoggedIn()"><a href="/showcase">Show Case</a></li>
        <li *ngIf="loginService.isUserLoggedIn()"><a href="/createIdeas">Create Ideas</a></li>
        <li *ngIf="loginService.isUserLoggedIn()"><a href="/idealist">List of deas</a></li>
        
    </ul> -->
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="loginService.isUserLoggedIn()"><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
        <li *ngIf="!loginService.isUserLoggedIn()"><a href="/login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
        <li *ngIf="loginService.isUserLoggedIn()"><a href="/logout"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
        
    </ul>
    </div>
  </nav>
</header>